<table>
    <tr>
        <td>Team Name</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Region</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Wins</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Losses</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Draws</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Points</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Goals For</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Goal Against</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Clean Sheets</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Yellow Cards</td>
        <td class="data"></td>
    </tr>
    <tr>
        <td>Red Cards</td>
        <td class="data"></td>
    </tr>
</table>