// Chapter 2 : Style
text {
    font-size: 10px;
    text-anchor: middle;
    fill: #4f442b;
}

g {
    >text.active {
        font-size: 30px;
    }
}

circle {
    fill: #75739F;
    stroke: black;
    stroke-width: 1px;
}

circle.active {
    fill: #FE9922;
}

circle.inactive {
    fill: #C4B9AC;
}

// for info box
#infobox {
    position: fixed;
    left: 150px;
    top: 20px;
    z-index: 1;
    background: white;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

tr {
    border: 1px gray solid;
}

td {
    font-size: 10px;
}

td.data {
    font-weight: 900;
}

// Chapter 3
#infobox {
    position: fixed;
    left: 150px;
    top: 20px;
    z-index: 1;
    background: white;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

tr {
    border: 1px gray solid;
}

td {
    font-size: 10px;
}

td.data {
    font-weight: 900;
}